* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-gradient-cover {
  background: linear-gradient(#527b8c, #527b8c);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #fff;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 100;
  font-size: 42px;
  word-spacing: 5px;
  color: #fff;
  padding-bottom: 15px;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 400;
}

.btn--green {
  border: 1px solid #70c1b3;
  color: #70c1b3;
}

.btn--green:hover {
  color: #fff;
  background-color: #70c1b3;
}

.btn--grey {
  border: 1px solid #50514f;
  color: #50514f;
  margin-left: 15px;
}

.btn--grey:hover {
  color: #fff;
  background-color: #50514f;
}